
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%; 
    overflow-x: hidden; 
}

body {
    font-family: sans-serif;
    background-image: url(1775216529257-019d5325-c45b-7b15-beba-6fa3394da4f1.png);
    color: #000; 
    display: flex; 
    flex-direction: column;
}

header {
    width: 100%;
}

/* Навигация */
.nav {
    width: 100%;
  background: linear-gradient(
  
  #94EBDD, #9FFBDC,#C3E8FF);
    color: #26bcbf; 
    padding: 10px 40px;
    border-top: 5px solid #00c187; 
    border-radius: 45px;
}

.nav ul {
    display: flex;
    align-items: center;
    justify-content: flex-start; 
    list-style: none;
    gap: 30px; 
}

.nav ul li {
    font-size: 16px;
    font-weight: 500;
}

.nav ul li:first-child { 
    margin-right: auto; 
}


.bell-container, .switch {
    margin-left: 20px; /
}


.switch {
    position: relative;
    display: inline-block;
    width: 56px;
    height: 28px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    inset: 0;
    background: #333333; 
    transition: 0.4s;
    overflow: hidden;
}

.slider.round {
    border-radius: 28px;
}

.slider::before {
    content: "";
    position: absolute;
    height: 22px;
    width: 22px;
    left: 3px;
    bottom: 3px;
    background: #14ff1b; 
    transition: 0.4s;
    border-radius: 50%;
    z-index: 2;
}

input:checked + .slider {
    background: #3bf2ff; 
}

input:checked + .slider::before {
    transform: translateX(28px);
    background: #bbb; 
}

.sun-moon,
.stars {
    position: absolute;
    inset: 0;
    z-index: 1;
}

.moon-dot,
.light-ray,
.cloud-dark,
.cloud-light,
.star {
    position: absolute;
    transition: all 0.4s ease;
}

.moon-dot {
    width: 4px;
    height: 4px;
    fill: #1a5b73;
    opacity: 0;
}

input:checked ~ .slider .moon-dot {
    opacity: 1;
}

#moon-dot-1 { top: 8px; right: 10px; }
#moon-dot-2 { top: 14px; right: 6px; }
#moon-dot-3 { top: 10px; right: 16px; }

.light-ray {
    width: 3px;
    height: 3px;
    fill: #42ffcc;
    opacity: 1;
}

input:checked ~ .slider .light-ray {
    opacity: 0;
}

#light-ray-1 { top: 4px; left: 20px; }
#light-ray-2 { bottom: 4px; left: 14px; }
#light-ray-3 { top: 12px; left: 8px; }

.cloud-dark,
.cloud-light {
    width: 6px;
    height: 6px;
    opacity: 0;
}

.cloud-dark { fill: #38f8ff; }
.cloud-light { fill: #f8ff39; }

.star {
    width: 6px;
    height: 6px;
    fill: #FFD700;
    opacity: 0;
}

input:checked ~ .slider .star {
    opacity: 1;
}

#star-1 { top: 5px; left: 10px; }
#star-2 { top: 15px; left: 18px; }
#star-3 { top: 8px; left: 28px; }
#star-4 { bottom: 6px; left: 14px; }


.main-content-wrapper {
    flex-grow: 1; 
    display: flex;
    flex-direction: column;
    padding: 20px 40px; 
}

/* Секция TOP */
.top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px; 
    padding: 50px 0;
    flex-wrap: wrap; 
}

.left {
    flex: 1;
    min-width: 300px; 
}

.h1l {
    font-size: 48px; 
    font-weight: 900; 
    line-height: 1.2;
    margin-bottom: 20px;
    color: #605FC4; 
}

.h1r {
    font-size: 18px;
    line-height: 1.5;
    color: #605FC4; 
}

.right {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0; 
    min-width: 200px; 
}



.bottom {
    display: flex;
    gap: 20px; 
    margin-top: 40px;
    flex-wrap: wrap; 
}

.block1, .block2, .block3 {
    flex: 1;
    min-width: 280px; 
    background-color: #fff; 
    padding: 20px;
    border-radius: 10px;
    color: #c10606; 
}

.block1 h2, .block2 h3, .block3 p {
    font-size: 18px;
    margin-bottom: 10px;
    color: #00ff00;
}

.block1 h2 {
    font-weight: bold;
}
.block2 h3 {
    font-weight: bold;
}


.card {
  max-width: 320px;
  border-width: 1px;
  border-color: rgba(219, 234, 254, 1);
  border-radius: 1rem;
  background-color: rgba(255, 255, 255, 1);
  padding: 1rem;
}

.header {
  display: flex;
  align-items: center;
  grid-gap: 1rem;
  gap: 1rem;
}

.icon {
  flex-shrink: 0;
  display: flex;
  align-items: right ;
  justify-content: right;
  border-radius: 9999px;
  background-color: rgba(96, 165, 250, 1);
  padding: 0.5rem;
  color: rgba(255, 255, 255, 1);
}

.icon svg {
  height: 1rem;
  width: 1rem;
}

.alert {
  font-weight: 600;
  color: rgba(107, 114, 128, 1);
}

.message {
  margin-top: 1rem;
  color: rgba(107, 114, 128, 1);
}

.actions {
  margin-top: 1.5rem;
}

.actions a {
  text-decoration: none;
}

.mark-as-read, .read {
  display: inline-block;
  border-radius: 0.5rem;
  width: 100%;
  padding: 0.75rem 1.25rem;
  text-align: center;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 600;
}

.read {
  background-color: rgb(0, 30, 255);
  color: rgba(255, 255, 255, 1);
}

.mark-as-read {
  margin-top: 0.5rem;
  background-color: rgba(249, 250, 251, 1);
  color: rgba(107, 114, 128, 1);
  transition: all .15s ease;
}

.mark-as-read:hover {
  background-color: rgb(230, 231, 233);
}



/* Адаптивность */
@media (max-width: 1024px) {
    .nav ul {
        gap: 15px;
    }
    .top {
        flex-direction: column;
        text-align: center;
        gap: 30px;
    }
    .right {
        width: 100%; 
    }
    .btn1 {
        width: 150px;
        height: 150px;
        font-size: 16px;
    }
    .bottom {
        flex-direction: column;
    }
    .block1, .block2, .block3 {
        min-width: unset;
        width: 100%;
    }
}
.card {
  width: 350px;
  height: 235px;
  position: relative;
  padding: 25px;
  background: radial-gradient(178.94% 106.41% at 26.42% 106.41%, #FFF7B1 0%, rgba(255, 255, 255, 0) 71.88%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */, #FFFFFF;
  box-shadow: 0px 155px 62px rgba(0, 0, 0, 0.01), 0px 87px 52px rgba(0, 0, 0, 0.05), 0px 39px 39px rgba(0, 0, 0, 0.09), 0px 10px 21px rgba(0, 0, 0, 0.1), 0px 0px 0px rgba(0, 0, 0, 0.1);
  border-radius: 23px;
  transition: all 0.8s cubic-bezier(0.15, 0.83, 0.66, 1);
  cursor: pointer;
}

.card:hover {
  transform: scale(1.05);
}

.container {
  width: 250px;
  height: 250px;
  position: absolute;
  right: -35px;
  top: -50px;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: scale(0.7);
}

.cloud {
  width: 250px;
}

.front {
  padding-top: 45px;
  margin-left: 25px;
  display: inline;
  position: absolute;
  z-index: 11;
  animation: clouds 8s infinite;
  animation-timing-function: ease-in-out;
}

.back {
  margin-top: -30px;
  margin-left: 150px;
  z-index: 12;
  animation: clouds 12s infinite;
  animation-timing-function: ease-in-out;
}

.right-front {
  width: 45px;
  height: 45px;
  border-radius: 50% 50% 50% 0%;
  background-color: #4c9beb;
  display: inline-block;
  margin-left: -25px;
  z-index: 5;
}

.left-front {
  width: 65px;
  height: 65px;
  border-radius: 50% 50% 0% 50%;
  background-color: #4c9beb;
  display: inline-block;
  z-index: 5;
}

.right-back {
  width: 50px;
  height: 50px;
  border-radius: 50% 50% 50% 0%;
  background-color: #4c9beb;
  display: inline-block;
  margin-left: -20px;
  z-index: 5;
}

.left-back {
  width: 30px;
  height: 30px;
  border-radius: 50% 50% 0% 50%;
  background-color: #4c9beb;
  display: inline-block;
  z-index: 5;
}

.sun {
  width: 120px;
  height: 120px;
  background: -webkit-linear-gradient(to right, #04b6fc, #00ff99);
  background: linear-gradient(to right, #fcbb04, #fffc00);
  border-radius: 60px;
  display: inline;
  position: absolute;
}

.sunshine {
  animation: sunshines 2s infinite;
}

@keyframes sunshines {
  0% {
    transform: scale(1);
    opacity: 0.6;
  }

  100% {
    transform: scale(1.4);
    opacity: 0;
  }
}

@keyframes clouds {
  0% {
    transform: translateX(15px);
  }

  50% {
    transform: translateX(0px);
  }

  100% {
    transform: translateX(15px);
  }
}

.card-header {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.card-header span:first-child {
  word-break: break-all;
  font-weight: 800;
  font-size: 15px;
  line-height: 135%;
  color: rgba(87, 77, 51, 0.66);
}

.card-header span:last-child {
  font-weight: 700;
  font-size: 15px;
  line-height: 135%;
  color: rgba(87, 77, 51, 0.33);
}

.temp {
  position: absolute;
  left: 25px;
  bottom: 12px;
  font-weight: 700;
  font-size: 64px;
  line-height: 77px;
  color: rgba(87, 77, 51, 1);
}

.temp-scale {
  width: 80px;
  height: 36px;
  position: absolute;
  right: 25px;
  bottom: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.06);
  border-radius: 9px;
}

.temp-scale span {
  font-weight: 700;
  font-size: 13px;
  line-height: 134.49%;
  color: rgba(87, 77, 51, 0.66);
}

@media (max-width: 768px) {
    .nav {
        padding: 10px 20px;
    }
    .nav ul {
        flex-wrap: wrap;
        justify-content: center;
    }
    .nav ul li:first-child {
        margin-right: 0;
        width: 100%;
        text-align: center;
        margin-bottom: 10px;
    }
    .main-content-wrapper {
        padding: 20px;
    }
    .h1l {
        font-size: 36px;
    }
    .h1r {
        font-size: 16px;
    }
}